{% extends "layout.html" %}
{% block logo %}E-Commerce{% endblock %}
{% block main %}
<form action="/login" method="post" class="mx-auto mt-5 w-75">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username"
            type="text" />
    </div>
    <div class="mb-3">
        <input class="form-control" id="password" name="password" placeholder="Password" type="password" />
    </div>
    <button class="btn btn-secondary" type="submit">Log In</button>
</form>
<form action="/login" method="post" class="mx-auto mt-5 w-75">

    <input name="username" value="arman" type="text" hidden />

    <input name="password" value="arman" type="password" hidden />

    Or a faster way to check out <button class="btn btn-success btn-sm" type="submit"> my account</button>
</form>

{% endblock %}